{% extends 'base.html' %}

{% block title %}Eliminar Video{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Eliminar Video</h2>
    <p>¿Estás seguro de que deseas eliminar el video "{{ video.titulo }}"?</p>
    <video controls class="img-thumbnail mb-2" width="200">
        <source src="{{ video.video.url }}" type="video/mp4">
        Tu navegador no soporta el video.
    </video>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'videos:detalle_video' video.pk %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
